#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "exFAT boot-time check for exfatnt"
#define VER_INTERNALNAME_STR        "exfachk.exe"
#define VER_ORIGINALFILENAME_STR    "exfachk.exe"

#include "common.ver"
