#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "exFAT format tool for exfatnt"
#define VER_INTERNALNAME_STR        "exfmt.exe"
#define VER_ORIGINALFILENAME_STR    "exfmt.exe"

#include "common.ver"
