#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "exfatnt setup"
#define VER_INTERNALNAME_STR        "exfinst.exe"
#define VER_ORIGINALFILENAME_STR    "exfinst.exe"

#include "common.ver"
